body{
    background-color: white;
    margin-left: -1px;
}

.top{
    position: fixed;
    background-color: rgb(129, 1, 160);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

.sourire{
    width: 100%;  
}

.kor{
    height: 47.9%;
}

.gris{
    color: black;
    text-align: center;
    font-size: 4rem;
}

#pos{
    margin-left: 35%;
    width: 30%;
    height: 30px;
}

.bas{
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

@media screen and (max-width: 450px){
    .top{
        width: 100%;
    }

    #sourire{
        width: 100%;
        margin-top: 9rem;
    }

    .kor{
        width: 100%;
        height: 47.9%;
    }
}


